@inherits LayoutComponentBase
<div class="page">

    <main>
        <div class="top-row px-4 bg-primary">
            <h1 class="text-white">Bloggy</h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

    <NavMenu />
</div>
